@charset "UTF-8";

/* 	:: :::::::::::::::::::::::: :: */
/* 	:: ::: 使用細則 (懶人必備) ::: :: */
/* 	:: :::::::::::::::::::::::: :: */
/* 	:: ::: 1. 用橫行方式 :::::::: :: */
/* 	:: ::: 2. 用 Space 分隔 :::: :: */
/* 	:: ::: 3. 有需要時自行補完 ::: :: */
/* 	:: :::::::::::::::::::::::: :: */
/* 	:: :::::::::::::::::::::::: :: */
/* 	:: :::::::::::::::::::::::: :: */


.f-right { float: right; }
.f-left { float: left; }
.center { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }
.justify { text-align: justify; }
.clear { clear: both; }
.clearfix:after { clear: both; }
.marg-center { margin: 0 auto; }
.upper { text-transform: uppercase; }
.bold { font-weight: bold; }
.italic { font-style: italic; }
.inline-table { display: inline-table; }
.table-cell { display: table-cell; }
.valign-middle { vertical-align: middle; }
.circle { border-radius: 50%; }
.disable-radius { border-radius: 0px; }
.omega { margin-left: 0px; margin-right: 0px; }
.alpha { padding-left: 0px; padding-right: 0px; }
.pointer { cursor: pointer; }
.none { display: none; }

/* 	:: :::::::: :: */
/* 	:: Min Width :: */
/* 	:: :::::::: :: */

.m-w200 { min-width: 200px; }

/* 	:: :::::::: :: */
/* 	:: Word Spacing :: */
/* 	:: :::::::: :: */

.word-s5 { word-spacing: 5px; }

/* 	:: :::::::: :: */
/* 	:: Color :: */
/* 	:: :::::::: :: */

.black { color: #000000; }
.red { color: #e35122; }
.green { color: #80b999; }
.grey { color: #969696; }
.light-grey { color: #e2e2e2; }
.white { color: #ffffff; }
.blue { color: #77c8e4; }
.deep-blue { color: #5f93c4; }
.yellow { color: #fdc153; }
.deep-yellow { color: #FFA500; }

.bg-red { background: #E74C3C; }
.bg-green { background: #a6cdb8; }
.bg-orange { background: #f0ad4e; }
.bg-blue { background: #77c8e4; }
.bg-light-blue { background: #90b4d8; }
.bg-white { background: #fff; }
.bg-yellow { background: #fdc153; }
.bg-grey { background: #bebebe; }

/* 	:: :::::::: :: */
/* 	:: Top Right Left Bottom :: */
/* 	:: :::::::: :: */

.top-25 { top: 25%; }
.top-50 { top: 50%; }
.right-25 { right: 25%; }
.right-50 { right: 50%; }
.left-25 { left: 25%; }
.left-50 { left: 50%; }
.bottom-25 { bottom: 25%; }
.bottom-50 { bottom: 50%; }
.width-100 { width: 100%; }
.width-50 { width: 50%; }
/* 	:: :::::::: :: */
/* 	:: Margin :: */
/* 	:: :::::::: :: */

.marg-5 { margin: 5px }
.marg-10 { margin: 10px }
.marg-15 { margin: 15px }
.marg-20 { margin: 20px }
.marg-25 { margin: 25px }
.marg-30 { margin: 30px }
.marg-35 { margin: 35px }
.marg-40 { margin: 40px }
.marg-45 { margin: 45px }
.marg-50 { margin: 50px }
.marg-55 { margin: 55px }
.marg-60 { margin: 60px }

.marg-mt3 { margin-top: -3px }
.marg-mt5 { margin-top: -5px }
.marg-mt10 { margin-top: -10px }
.marg-mt15 { margin-top: -15px }
.marg-mt25 { margin-top: -25px }
.marg-mt45 { margin-top: -45px }
.marg-mt50 { margin-top: -50px }
.marg-mt75 { margin-top: -75px }
.marg-mt100 { margin-top: -100px }
.marg-mt125 { margin-top: -125px }
.marg-mt155 { margin-top: -155px }

.marg-mb3 { margin-bottom: -3px }
.marg-mb5 { margin-bottom: -5px }
.marg-mb10 { margin-bottom: -10px }
.marg-mb15 { margin-bottom: -15px }
.marg-mb25 { margin-bottom: -25px }
.marg-mb50 { margin-bottom: -50px }
.marg-mb75 { margin-bottom: -75px }
.marg-mb100 { margin-bottom: -100px }
.marg-mb125 { margin-bottom: -125px }
.marg-mb155 { margin-bottom: -155px }

.marg-t0 { margin-top: 0px }
.marg-t5 { margin-top: 5px }
.marg-t10 { margin-top: 10px }
.marg-t15 { margin-top: 15px }
.marg-t20 { margin-top: 20px }
.marg-t25 { margin-top: 25px }
.marg-t30 { margin-top: 30px }
.marg-t35 { margin-top: 35px }
.marg-t40 { margin-top: 40px }
.marg-t50 { margin-top: 50px }
.marg-t70 { margin-top: 70px }
.marg-t75 { margin-top: 75px }
.marg-t80 { margin-top: 80px }
.marg-t90 { margin-top: 90px }
.marg-t100 { margin-top: 100px }
.marg-t125 { margin-top: 125px }
.marg-t135 { margin-top: 135px }
.marg-t155 { margin-top: 155px }
.marg-t300 { margin-top: 300px }

.marg-r0 { margin-right: 0px }
.marg-r5 { margin-right: 5px }
.marg-r10 { margin-right: 10px }
.marg-r15 { margin-right: 15px }
.marg-r20 { margin-right: 20px }
.marg-r25 { margin-right: 25px }
.marg-r30 { margin-right: 30px }
.marg-r50 { margin-right: 50px }
.marg-r75 { margin-right: 75px }
.marg-r100 { margin-right: 100px }
.marg-r115 { margin-right: 115px }
.marg-r125 { margin-right: 125px }
.marg-r155 { margin-right: 155px }

.marg-l0 { margin-left: 0px }
.marg-l5 { margin-left: 5px }
.marg-l10 { margin-left: 10px }
.marg-l15 { margin-left: 15px }
.marg-l20 { margin-left: 20px }
.marg-l25 { margin-left: 25px }
.marg-l50 { margin-left: 50px }
.marg-l75 { margin-left: 75px }
.marg-l100 { margin-left: 100px }
.marg-l125 { margin-left: 125px }
.marg-l155 { margin-left: 155px }

.marg-b0 { margin-bottom: 0px }
.marg-b5 { margin-bottom: 5px }
.marg-b10 { margin-bottom: 10px }
.marg-b15 { margin-bottom: 15px }
.marg-b20 { margin-bottom: 20px }
.marg-b25 { margin-bottom: 25px }
.marg-b30 { margin-bottom: 30px }
.marg-b50 { margin-bottom: 50px }
.marg-b60 { margin-bottom: 60px }
.marg-b75 { margin-bottom: 75px }
.marg-b80 { margin-bottom: 80px }
.marg-b100 { margin-bottom: 100px }
.marg-b125 { margin-bottom: 125px }
.marg-b130 { margin-bottom: 130px }
.marg-b155 { margin-bottom: 155px }

/* 	:: :::::::: :: */
/* 	:: Padding :: */
/* 	:: :::::::: :: */

.padd-0 { padding: 0px }
.padd-5 { padding: 5px }
.padd-10 { padding: 10px }
.padd-15 { padding: 15px }
.padd-20 { padding: 20px }
.padd-25 { padding: 25px }
.padd-30 { padding: 30px }
.padd-35 { padding: 35px }
.padd-40 { padding: 40px }

.padding-mt3 { padding-top: -3px }
.padding-mt5 { padding-top: -5px }
.padding-mt10 { padding-top: -10px }
.padding-mt15 { padding-top: -15px }
.padding-mt25 { padding-top: -25px }
.padding-mt50 { padding-top: -50px }
.padding-mt75 { padding-top: -75px }
.padding-mt100 { padding-top: -100px }
.padding-mt125 { padding-top: -125px }
.padding-mt155 { padding-top: -155px }

.padd-t5 { padding-top: 5px }
.padd-t10 { padding-top: 10px }
.padd-t15 { padding-top: 15px }
.padd-t20 { padding-top: 20px }
.padd-t25 { padding-top: 25px }
.padd-t30 { padding-top: 30px }
.padd-t45 { padding-top: 40px; }
.padd-t50 { padding-top: 50px }
.padd-t60 { padding-top: 60px }
.padd-t75 { padding-top: 75px }
.padd-t100 { padding-top: 100px }
.padd-t125 { padding-top: 125px }
.padd-t155 { padding-top: 155px }

.padd-r0 { padding-right: 0px }
.padd-r5 { padding-right: 5px }
.padd-r6 { padding-right: 6px }
.padd-r10 { padding-right: 10px }
.padd-r15 { padding-right: 15px }
.padd-r20 { padding-right: 20px }
.padd-r25 { padding-right: 25px }
.padd-r50 { padding-right: 50px }
.padd-r55 { padding-right: 55px }
.padd-r75 { padding-right: 75px }
.padd-r100 { padding-right: 100px }
.padd-r125 { padding-right: 125px }
.padd-r155 { padding-right: 155px }

.padd-l0 { padding-left: 0px }
.padd-l5 { padding-left: 5px }
.padd-l10 { padding-left: 10px }
.padd-l15 { padding-left: 15px }
.padd-l20 { padding-left: 20px }
.padd-l25 { padding-left: 25px }
.padd-l30 { padding-left: 30px }
.padd-l40 { padding-left: 40px }
.padd-l50 { padding-left: 50px }
.padd-l55 { padding-left: 55px }
.padd-l65 { padding-left: 65px }
.padd-l75 { padding-left: 75px }
.padd-l78 { padding-left: 78px }
.padd-l100 { padding-left: 100px }
.padd-l125 { padding-left: 125px }
.padd-l155 { padding-left: 155px }

.padd-b0 { padding-bottom: 0px }
.padd-b5 { padding-bottom: 5px }
.padd-b10 { padding-bottom: 10px }
.padd-b15 { padding-bottom: 15px }
.padd-b20 { padding-bottom: 20px }
.padd-b25 { padding-bottom: 25px }
.padd-b30 { padding-bottom: 30px }
.padd-b50 { padding-bottom: 50px }
.padd-b75 { padding-bottom: 75px }
.padd-b100 { padding-bottom: 100px }
.padd-b125 { padding-bottom: 125px }
.padd-b130 { padding-bottom: 130px}
.padd-b155 { padding-bottom: 155px }
.padd-b200 { padding-bottom: 200px; }

/* 	:: :::::::: :: */
/* 	:: Font Size :: */
/* 	:: :::::::: :: */

.font-9 { font-size: 9px; }
.font-11 { font-size: 11px; }
.font-12 { font-size: 12px; }
.font-14 { font-size: 14px; }
.font-16 { font-size: 16px; }
.font-18 { font-size: 18px; }
.font-20 { font-size: 20px; }
.font-22 { font-size: 22px; }
.font-24 { font-size: 24px; }
.font-26 { font-size: 26px; }
.font-28 { font-size: 28px; }
.font-30 { font-size: 30px; }
.font-32 { font-size: 32px; }
.font-36 { font-size: 36px; }
.font-45 { font-size: 45px; }
.font-48 { font-size: 48px; }
.font-60 { font-size: 60px; }
.font-80 { font-size: 80px; }
.font-110 { font-size: 110px; }

/* 	:: :::::::: :: */
/* 	:: Line Height :: */
/* 	:: :::::::: :: */

.line-0 { line-height: 0px; }
.line-25 { line-height: 25px; }


